*.log
tmp/
node_modules/
/.buildifchanged
/bin/
/.baseDir.*
/.npmrc
/.cache

# jetbrains / intellij
.idea/

# osx
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes

# vs code plugins
.vscode/symbols.json
